* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 110px;
    /* UI Properties */
    background: transparent url('../assets/Rectangle\ 2.svg') 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}